;; shadow-cljs configuration
{:deps true
 :builds
 {:app {:target shadow-cljs-gjs-target.core
        :output-dir "./build/jslibs"
        :output-to "./build/app.js"
        :main lobjur.main/main}
  :test {:target shadow-cljs-gjs-target.core
         :output-dir "./build/test-jslibs"
         :output-to "./build/test.js"
         :main test.runner/main
         :ns-regexp "test\\..*"}}}
