[Desktop Entry]
Name=Lobjur
Comment=A simple lobste.rs client
Type=Application
Exec=lobjur
Terminal=false
Categories=GNOME;GTK;Network;
Keywords=Gnome;GTK;browser;lobsters;social;forum;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=data/icons/hicolor/scalable/apps/com.ranfdev.Lobjur.svg
StartupNotify=true
